<legend>{{icon name="vipPage"}}BigIP Search</legend>
<div class="container">
    <form>
        <div class="row">
            <div class="span3"><label>VIP name:</label>
                {{view Em.TextField class="span3" valueBinding="findToken"}}
            </div>
            <div class="span3"><label>DC:</label>
                {{view Em.Select class="span3"
                prompt="Select a DC...."
                valueBinding="dc"
                contentBinding="dcs"}}
            </div>
        </div>
        {{#if isSearching}}
            <hr>
            {{#if dcSearch}}
                <p id="search-in-progress">Getting all VIPs in <strong>{{dcToUpper}}</strong> from the API....</p>
            {{else}}
                <p id="search-in-progress">Looking up VIP {{#if isIpSearch}}IP address{{else}}name{{/if}} <strong>{{findToken}}</strong> in <strong>{{dcToUpper}}</strong> from the API....</p>
            {{/if}}
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        {{else}}
            {{#if ready}}
                <button class="btn btn-primary" type="submit" {{action "search"}}>
                    {{icon name="search"}} Find VIP</button>
            {{else}}
                <button class="btn" disabled>
                    {{icon name="search"}} Find VIP</button>
            {{/if}}
            {{#unless findToken}}
                {{#if dc}}
                    <button class="btn btn-warning" type="submit" {{action "searchDcs"}}>
                        {{icon name="search"}} Get all VIPs in <strong>{{dcToUpper}}</strong></button>
                {{/if}}
            {{/unless}}
        {{/if}}
        {{#if failedSearch}}
            <br><br>
            <div class="alert alert-error">
                No VIP found with name {{failedSearchToken}} in {{failedSearchDc}}
            </div>
        {{/if}}
    </form>
</div>